@font-face {
    font-family: "lexend";
    src: url(../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "big-shoulder";
    src: url(../fonts/Big_Shoulders/BigShoulders-VariableFont_opsz\,wght.ttf) format(truetype);
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

body{
    font-family: "lexend", sans-serif;
    font-size: 15px;
    width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  hsla(0, 0%, 100%, 0.75);
}

h2 {
    font-size: 2.5rem;
    font-family: "big-shoulder";
    text-transform: uppercase;
}

p { 
    font-family: "lexend";
    line-height: 175%;
}

.btn {
    margin-top: 4.5rem;
    font-family: "lexend", sans-serif;
    background-color: hsl(0, 0%, 95%);
    border: solid 1px hsl(0, 0%, 95%);
    border-radius: 12rem;
    padding: 0.8rem 2.3rem;
    transition: all 0.2s ease-in;
}

.btn-sedans {
    color: hsl(31, 77%, 52%);
}

.btn-sedans:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsl(31, 77%, 52%);
    cursor: pointer;
}

.btn-suvs {
    color: hsl(184, 100%, 22%);
}

.btn-suvs:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
    cursor: pointer;
}

.btn-luxury {
    color: hsl(179, 100%, 13%);
}

.btn-luxury:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
    cursor: pointer;
}

.attributions {
    display: flex;
    height: 31rem;
    width: 57rem;
    
}

.attribution {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;

}

.att-sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 1rem 0 0 1rem;
}

.att-suvs {
    background-color: hsl(184, 100%, 22%);
}

.att-luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 1rem 1rem 0;
}

@media screen and (max-width : 768px) {
    body{
        width: 100%;   
        align-items: inherit;
    }

    .btn {
        margin-top: 0.2rem;
    }
    .attributions {
        width: 95%;
        padding: 1rem;
        flex-direction: column;
    }

    .attribution {
        padding: 2rem 4.5rem ;

    }
    .att-sedans {
        border-radius: 1rem 1rem 0rem 0rem;
    }
       
    .att-luxury {
        border-radius: 0 0 1rem 1rem;
    }
}

